<html>
  <head>
    <link rel="stylesheet" href="/css/footer.css" />
  </head>

  <body>
    <div class="footer">
      <h1>© Copyright. All rights reserved!</h1>
      <!-- <h1>Created By Mr. Pk Designer | All Rights Reserved! </h1> -->
    </div>
  </body>
</html>
