<html>
  <head>
    <link rel="stylesheet" href="/css/header.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo"><a href="/">Dummy Api</a></div>
      <div class="menu">
        <img class="open" src="/img/menu.png" height="30" width="30" alt="" />
        <img class="close" src="/img/close.png" alt="" height="30" width="30" />
      </div>
      <nav class="nav">
        <li><a href="/">Home</a></li>
        <li class="api_docs"><a href="/docs">Docs</a></li>
      </nav>
    </header>
    <script src="/js/header.js"></script>
  </body>
</html>
