<html>
  <head>
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <main class="home">
      <section class="banner">
        <div class="left">
          <h1>
            Well Come to DUMMY API for your project to make is ossum and easy to
            implement
          </h1>
          <br />
          <button class="apibtn"><a href="/docs">API DOCs</a></button>
        </div>
        <div class="right">
          <div class="codePrev">
            <h3>output👇</h3>
            <pre>
                  <code class="language-javascript">
      {
        "id": 1,
        "title": "iPhone 9",
        "description": "An apple mobile ",
        "price": 549,
        "discountPercentage": 12.96,
        "rating": 4.69,
        "stock": 94,
        "brand": "Apple",
        "category": "smartphones",
      },
                  </code>
                </pre>
          </div>
        </div>
      </section>
      <div class="why-choose">
        <div class="why">
          <h1 class="headling">Why Choose Our API?</h1>
          <!-- <li>To use our API, simply follow the instructions below. No authentication is required, so you can start testing immediately.</li> -->
          <li><span>Authentication:</span> No authentication is required, so you can start testing immediately.</li>
          <li>
            <span>Ease of Use:</span> Simplified API requests to manage your
            todo lists effortlessly.
          </li>
          <li>
            <span>Scalable:</span> Handle large datasets with our robust API
            infrastructure.
          </li>
          <li>
            <span>Secure:</span> Ensure data protection with our top-notch
            security measures. 
          </li>
          <li>
            <span>User-Friendly:</span> Simplified endpoints for easy
            integration.
          </li>
          <li>
            <span>High Performance:</span> Optimized for fast and reliable data
            retrieval.
          </li>
        </div>
      </div>
    </main>
  </body>
</html>
